@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.imageGif {
  width: 35vw;
  height: 35vh;
}

h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 700;
  font-style: normal;
}
